body {
    background-size: 100% 200px;
    background-position: top center;
    background-image: url("/images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-color: $veryLightGray;
    color: $darkGrayishBlue;
    @include breakpoint-up(medium) {
        background-image: url("/images/bg-desktop-light.jpg");
        background-size: 100% 300px;
    }
}

body.dark-theme {
    background-image: url("/images/bg-mobile-dark.jpg");
    background-color: $veryDarkBlueDT;
    @include breakpoint-up(medium) {
        background-image: url("/images/bg-desktop-dark.jpg");
        background-size: 100% 300px;
    }
    .shadow {
        box-shadow: none;
    }
    .create {
        background-color: $veryMuchDarkGrayishBlueDT;
        input {
            background-color: $veryMuchDarkGrayishBlueDT;
        }
    }
    .item {
        .circle-wrapper {
            background-color: $veryDarkGrayishBlueDT;
            .circle {
                background-color: $veryMuchDarkGrayishBlueDT;
            }
        }
        .text {
            color: $lightGrayishBlueDT;
        }
    }
    .list {
        background-color: $veryMuchDarkGrayishBlueDT;
        .pending {
            color: $darkGrayishBlueDT;
            .clear-completed {
                p:hover {
                    color: $lightGrayishBlueHoverDT;
                }
            }
        }
        #undone {
            .undone-task {
                border-bottom: 1px solid $veryDarkGrayishBlueDT;
            }
            .completed {
                p {
                    color: $darkGrayishBlueDT;
                }
            }
        }
    }
    .categories {
        background-color: $veryMuchDarkGrayishBlueDT;
        color: $darkGrayishBlueDT;
    }
    .pointer:hover {
        color: $lightGrayishBlueHoverDT;
        input {
            color: $lightGrayishBlueHoverDT;
        }
    }
    .main-title {
        .theme-icon {
            background-image: url("/images/icon-sun.svg");
        }
    }
}

.container {
    margin: 0 1.625rem;
    @include breakpoint-up(large) {
        margin: 0 28.125rem;
    }
}

.create {
    background-color: $veryLightGray;
    margin-bottom: 1rem;
    cursor: pointer;
    input {
        background-color: $veryLightGray;
    }
}

.item {
    height: 3rem;
    padding: 0.875rem 1.2rem;
    display: flex;
    align-items: center;
    div {
        display: inline-block;
    }
    .show-only-desktop {
        display: none;
        @include breakpoint-up(large) {
            display: inline-block;
            width: 10.3125rem;
            text-align: center;
            p:first-child {
                float: left;
            }
            p:last-child {
                float: right;
            }
        }
    }
    .circle-wrapper {
        background-color: $veryLightGrayishBlue;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
        margin-right: 0.8125rem;
        .circle {
            background-color: $veryLightGray;
            height: 1.125rem;
            width: 1.125rem;
            border-radius: 50%;
            margin: 1px;
        }
    }
    .text {
        color: $veryDarkGrayishBlue;
        font-size: 0.75rem;
        border: none;
    }
    @include breakpoint-up(large) {
        height: 4rem;
        .circle-wrapper {
            height: 1.5rem;
            width: 1.5rem;
            .circle {
                height: 1.375rem;
                width: 1.375rem;
            }
        }
        .text {
            font-size: 1.25rem;
        }
    }
}

.item:focus-within,
.item:hover {
    .circle-wrapper {
        background: linear-gradient(135deg, $backgroundLightBlue, $backgroundPurple);
    }
}

.list {
    background-color: $veryLightGray;
    p {
        width: max-content;
    }
    .pending {
        display: flex;
        font-size: 0.625rem;
        .undone-text {
            flex: 1;
        }
        .clear-completed {
            flex: 1;
            .align-right {
                margin-left: auto;
            }
            p {
                cursor: pointer;
            }
            p:hover {
                color: $veryDarkGrayishBlue;
            }
        }
    }
    #undone {
        .undone-task {
            border-radius: 0;
            border-bottom: 1px solid $veryLightGrayishBlue;
        }
        .completed {
            .circle-wrapper {
                background: url("/images/icon-check.svg") no-repeat, linear-gradient(135deg, $backgroundLightBlue, $backgroundPurple);
                background-position: center;
                .circle {
                    background-color: transparent;
                }
            }
            p {
                text-decoration: line-through;
                color: $veryLightGrayishBlue;
            }
        }
    }
    @include breakpoint-up(large) {
        .pending {
            font-size: 0.75rem;
        }
    }
}

.categories {
    background-color: $veryLightGray;
    font-size: 0.75rem;
    font-weight: $large;
    .filters {
        margin: 0 auto;
        width: 10.3125rem;
    }
}

.inline {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: $veryDarkGrayishBlue;
    input {
        color: $veryDarkGrayishBlue;
    }
}

.shadow {
    box-shadow: 0 0 20px 10px hsla(236, 9%, 61%, 0.2), 0 100px 50px 10px hsla(236, 9%, 61%, 0.2);
    @include breakpoint-up(large) {
        box-shadow: 0 20px 50px 20px hsla(236, 9%, 61%, 0.2);
    }
}

.main-title {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    color: $veryLightGray;
    .main-header {
        letter-spacing: 0.75rem;
        font-weight: $large;
        font-size: 1.5rem;
        display: inline-block;
    }
    .theme-icon {
        cursor: pointer;
        float: right;
        clear: right;
        height: 1.25rem;
        width: 1.25rem;
        background-size: cover;
        background-image: url("/images/icon-moon.svg");
        background-repeat: no-repeat;
    }
    @include breakpoint-up(large) {
        padding-top: 4.875rem;
        padding-bottom: 3.125rem;
        .main-header {
            letter-spacing: 1rem;
            font-size: 2.375rem;
        }
        .theme-icon {
            height: 1.875rem;
            width: 1.875rem;
        }
    }
}

.m-top {
    margin-top: 1rem;
}

.show-only-on-mobile {
    text-align: center;
    p:first-child {
        float: left;
    }
    p:last-child {
        float: right;
    }
    @include breakpoint-up(large) {
        display: none;
    }
}

.drag-text {
    width: max-content;
    margin: auto;
    margin-top: 2.6875rem;
    font-size: 0.75rem;
}

.border {
    border-radius: 5px;
}

.active {
    color: $brightBlue;
}